/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(55, 55, 55);
  position: relative;
  width: 100%;
}

.wrapper {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

.input_box {
  width: 100%;
}

#input_number {
  margin-right: 5px;
}

#click_btn {
}

#reset_btn {
  display: block;
  margin: 10px auto;
  padding: 5px 20px;
  text-align: center;
} */